/* Reset some default styles */
body, h1, h2, p, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
}

/* Style for left pane */
#left-pane {
    width: 25%;
    height: 100vh;
    background-color: #353434;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

/* Styles for the top header */
#top-header {
    background-color: #0c0c0c;
    padding: 10px;
    color: rgb(241, 237, 237);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#new-chat-button {
    width: 80%;
    background-color: #0056b3;
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#new-chat-button:hover {
    background-color: #004080;
}

#close-sidebar-button {
    width: 20%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
    text-align: right;
}

/* Styles for the list of chats */
#list-of-chats {
    flex: 1;
    padding: 20px;
    overflow-y: scroll;
}

.single-chat-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.single-chat-item:hover {
    background-color: #f0f0f0;
}

.chat-icon {
    width: 30px;
    height: 30px;
    background-color: #007bff;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-title {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Styles for the profile section */
#profile-section {
    padding: 10px;
    background-color: #353333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upgrade-plan-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.account-icon {
    width: 30px;
    height: 30px;
    background-color: #007bff;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upgrade-text {
    flex: 1;
}

.new-label {
    color: #007bff;
}

.profile-details {
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-name {
    font-weight: bold;
    flex: 1;
}

.more-options-button {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.more-options-button:hover {
    color: #007bff;
}

/* Style for the right pane */
#right-pane {
    width: 75%;
    height: 100vh;
    background-color: #504f4f;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

/* Style for the top edge of the right pane */
#top-edge {
    background-color: #0d0d0e;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.floating-button {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.floating-button:hover {
    background-color: #004080;
    transform: scale(1.05);
}

/* Style for the bottom edge of the right pane */
/* Existing styles for other elements */

/* Style for the bottom edge of the right pane */
#bottom-edge {
    background-color: #050505;
    padding: 10px;
    display: flex;
    justify-content: flex-end; /* Align children to the right */
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#search-input-box {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px; /* Adjust the max width as needed */
}

#search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-right: 10px;
}

#send-button {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
/* Existing styles for other elements */

/* Hover effect for the "New Chat" button */
#new-chat-button:hover {
    background-color: #004080;
    transform: scale(1.05);
}

/* Hover effect for close sidebar button */
#close-sidebar-button:hover {
    color: #f00; /* Change color to red on hover */
}

/* Hover effect for chat icons */
.chat-icon:hover {
    background-color: #0056b3; /* Change background color on hover */
}

/* Hover effect for more options button */
.more-options-button:hover {
    color: #007bff; /* Change color to blue on hover */
}

/* Hover effect for floating buttons */
.floating-button:hover {
    background-color: #004080; /* Change background color on hover */
    transform: scale(1.05);
}



